.account-section {
    width: 100%;
    height: calc(100vh - 50px);
    background: #171c21;
}
body {
    background: #171c21;
}
.max-account {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hide-account-menu, .show-account-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0px;
    transition:opacity .2s ease-in;
}
.flex-wrapper {
    width: 65%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #161b20 solid;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}
.flex-wrapper svg {
    font-size: 19px;
    color: #0984e3;
    margin-left: .20rem;
}
.flex-wrapper a {
    text-decoration: none;
    color: #f1f1f1;
    opacity: .7;
    transition: opacity .2s ease-in;
    font-size: 1rem;
}
.flex-wrapper a:hover {
    opacity: .9;
}
.user-dashboard {
    width: 30%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.10rem;
}
.flex-options {
    display: flex;
    height: 88%;
    flex-direction: column;
    justify-content: space-between;
}
.user-dashboard h5 {
    color: #1E90FF;
    font-size: 1.3rem;
}
.user-dashboard button {
    width: fit-content;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    background: none;
    color: #f1f1f1;
    opacity: .7;
    transition: opacity .2s ease-in;
}
.user-dashboard button:hover {
    opacity: .9;
}
.user-info {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    border-radius: 0px 5px 5px 0px;
    color: #f1f1f1;
}
.style-info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.style-info span {
    font-size: 1.1rem;
    color: #f5f6fadc;
    font-weight: bold;
}
.style-info p {
    width: fit-content;
    height: 70%;
    border: 1px #2f384b solid;
    padding: 8px;
    border-radius: .20rem;
    margin-top: .40rem;
    opacity: .9;
}
.logout-msg {
    width: 300px;
    height: 150px;
    background-color: #161b20;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -500px;
    z-index: 100;
    border-radius: 3px;
    border: 1px #2f384b solid;
    flex-direction: column;
    transition: top .2s ease-in;
}
.logout-msg span {
    font-size: large;
    color: #f1f1f1;
    
}
.logout-msg form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
.logout-msg input{
    outline: none;
    border: none;
    border-radius: 2px;
}
.logout-msg button {
    background-color: #3498DB;
    color: #f1f1f1;
    height: 30px;
    outline: none;
    border: none;
}
.show-msg {
    top: 20px;
} 
.hide-msg {
    top: -500px;
} 
@media screen and (orientation:portrait) and (max-width:1024px) {
    .account-section {
        height: 105vh;
    }
    .max-account {
        height: 65%;
    }
    .flex-wrapper {
        width: 76%;
    }
}
@media screen and (orientation:landscape) and (max-width:1024px) {
    .account-section {
        height: 100vh;
    }
    .flex-wrapper {
        width: 80%;
        height: 80%;
    }
}
@media screen and (orientation:landscape) and (max-width:926px) {
    .account-section {
        height: 190vh;
    }
}
@media screen and (orientation:portrait) and (max-width:810px) {
    .account-section {
        height: 105vh;
    }
    .max-account {
        height: 80%;
    }
    .hide-options {
        display: none;
        background: none;
    }
    .user-dashboard {
        width: 70%;
        position: absolute;
    }
    .user-dashboard header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex-wrapper {
        width: 85%;
        height: 70%;
        flex-direction: column;
    }
    .flex-options {
        background-color: #171c21;
        z-index: 111;
        height: 100%;
        align-items: center;
        transition: top .2s ease-in-out;
    }
    .user-info {
        z-index: 105;
    }
    .show-account-menu {
        opacity: 1;
        pointer-events: all;
    }
    .hide-options {
        top: -1000px;
    }
    .show-options {
        top: 0px;
    }
}
@media screen and (orientation:landscape) and (max-width:667px) {
    .style-info span {
        font-size: 1rem;
    }
    .style-info p {
        font-size: .9rem;
    }
}
@media screen and (orientation:portrait) and (max-width:654px) {
    .style-info span {
        font-size: 1rem;
    }
    .style-info p {
        font-size: .9rem;
    }
    .user-dashboard, .user-info {
        width: 100%;
    }
}
@media screen and (orientation:landscape) and (max-width:568px){
    .style-info span {
        font-size: .9rem;
    }
    .style-info p {
        font-size: .8rem;
    }
    .flex-wrapper {
        width: 90%;
    }
    .user-dashboard a, .user-dashboard button {
        font-size:.90rem;
    }
}
@media screen and (orientation:portrait) and (max-width:431px) {
    .style-info span {
        font-size: .9rem;
    }
    .style-info p {
        font-size: .8rem;
    }
    .max-account {
        height:110vh;
    }
}
@media screen and (orientation:portrait) and (max-width:392px) {
    .style-info span {
        font-size: .8rem;
    }
    .style-info p {
        font-size: .7rem;
    }
    body {
        background: #171c21;
    }
}
@media screen and (orientation:portrait) and (max-width:320px) {
    .style-info span {
        font-size: .8rem;
    }
    .style-info p {
        font-size: .6rem;
    }
    .flex-wrapper {
        height:90%;
    }
    .account-section{
       height: 98vh;
    }
}
