.cart-section {
    width: 100%;
    min-height: calc(105vh - 50px);
    background: #171c21;
}

.max-cart {
    width: 100%;
    min-height: calc(90vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f1f1f1;
}

.max-cart a {
    text-decoration: none;
}

.max-cart header {
    width: 85%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.max-cart header p {
    font-size: larger;
}

.max-cart header button {
    width: 110px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #1E90FF;
    color: #f1f1f1;
}

.flex-products {
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-products button , .style-product button {
    width: 40%;
    height: 35px;
    outline: none;
    border: none;
    background: #1E90FF;
    color: #f1f1f1;
    border-radius: 5px;
}

.style-product {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #2f384b;
    border-radius: 1px;
}
.style-product img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.product-options {
    width: 15%;
}

.product-options input {
    width: 50px;
    height: 30px;
}


.cart-options {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
}
.cart-options button {
    width: 110px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #1E90FF;
    color: #f1f1f1;
}
.cart-btn-prime {
    width: 40%;
    height: 35px;
    outline: none;
    border: none;
    background: #1E90FF;
    color: #f1f1f1;
    border-radius: 5px;
}
.active-remove {
    transition: transform .2s ease-in;
    transform: translateX(-200px);
    opacity: .2;
}