.edit-account-section {
    width: 100%;
    height: 100vh;
    background: #171c21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-account-section form {
    width: 50%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.edit-account-section form button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background: #1e90ff;
    color: #f4f4f4;
}
.edit-account-section label , 
.edit-account-section input , 
.edit-account-section select , 
.edit-account-section textarea {
    width: 100%;
    resize: none;
}
.edit-account-section label p {
    color: #f4f4f4;
    font-size: 1.2rem;
}
.edit-account-section input {
    height:30px;
    border-radius: 2px;
    font-size:1rem;
    padding:6px;
}
@media screen and (max-width:810px) and (orientation:portrait) {
    .edit-account-section form {
        width: 80%;
    }
}
@media screen and (max-width:915px) and (orientation:landscape) {
    .edit-account-section {
        height:130vh;
    }
    .edit-account-section form {
        height:120vh;
    }
}