.verify-account-section {
    width: 100%;
    height: calc(100vh - 50px);
    background: #171c21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.verify-account-section form, .resend-container {
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;  
}
.verify-account-section form p {
    font-size: 1.4rem;
    width: 100%;
}
.verify-account-section input {
    width: 83%;
    outline: none;
    margin-right: .40rem;
}
.verify-account-section button {
    height: 35px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #3498DB;
    color: #f4f4f4;
}
.resend-container {
    align-items: flex-start;
    height: fit-content;
}

@media screen and (max-width:1024px) {
    .verify-account-section form, .resend-container{
        width: 50%;
    }
}
@media screen and (max-width:883px) and (orientation:landscape) {
    .verify-account-section form{
        height: 60%;
    }
}
@media screen and (max-width:531px) and (orientation:portrait) {
    .verify-account-section form, .resend-container{
        width: 80%;
    }
    .verify-account-section button {
        margin-top: 10px;
    }
}
@media screen and (max-width:539px) and (orientation:landscape) {
    .verify-account-section button {
        margin-top: 10px;
    }
}
@media screen and (max-width:330px) and (orientation:portrait) {
    .verify-account-section form{
        height: 60%;
    }
}