.edit-product-section, .add-product-section {
    width: 100%;
    height: calc(165vh - 50px);
    background: #171c21;
}
.add-product-section {
    height: 110vh;
}
.max-add-product {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.max-add-product h1 {
    margin-bottom: 30px;
}
.add-product-section form, .edit-product-section form, .next-forms {
    width: 70%;
    color: #f1f1f1;
    height: fit-content;
    margin-top: 20px;
}
.add-product-section form button, .edit-product-section form button, .fileds button {
    width: 140px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #1E90FF;
    color: #f1f1f1;
    transition: box-shadow .2s ease;
    
}
.add-product-section form  button:hover, .edit-product-section form button:hover{
    box-shadow: 0px 0px 4px 3px #2F3542;
}
.fileds {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
};
.fileds label {
    margin-bottom: 4%;
}
.fileds p {
     font-size: larger;
}
.fileds input {
    width: 270px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 4%;
    padding:5px;
}
.fileds select {
    width: 270px;
    height: 30px;
    margin-bottom: 4%;
}
.add-product-section form svg , .edit-product-section form svg{
    width: 350px;
    height: 350px;
}
.ck {
    height: 250px;
    width: 700px;
    color: #202225;
    font-size: small;
}
.break-element {
    display: none;
}
.short-desc-container {
    margin-left: 10px;
}
@media screen and (max-width:1685px) {
    .edit-product-section{
        height:204vh;
    }
    .add-product-section {
        height:150vh
    }
    .break-element {
        display: block;
    }
    .short-desc-container {
        margin-left: 0px;
    }

    .fileds input , .fileds select {
        width: 230px;
        height: 30px;
    }
}
@media screen and (max-width:1194px) {
    .add-product-section form, .edit-product-section form, .next-forms{
        width: 90%;
    }
}
@media screen and (max-width:1024px) and (orientation:portrait) {
    .add-product-section {
        height:100vh
    }
    .edit-product-section {
        height:135vh;
    }
}
@media screen and (max-width:1194px) and (orientation:landscape) {
    .add-product-section {
        height:170vh;
    }
    .edit-product-section {
        height:225vh;
    }
}
@media screen and (max-width:1006px) {
    .add-product-section {
        height: 225vh;
    }
    .edit-product-section {
        height: 240vh;
    }
    .fileds input , .fileds select {
        width: 100%;
        height: 30px;
    }
    .fileds label {
        width:100%;
        overflow: hidden;
    }
    .ck {
        width: 100%;
    }
    .fileds {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:1006px) and (orientation:landscape) {
    .edit-product-section {
        height: 270vh;
    }
}
@media screen and (max-width:945px) and (orientation:landscape) {
    .add-product-section {
        height:220vh
    }
    .edit-product-section {
        height: 270vh;
    }
}
@media screen and (max-width:945px) and (min-width:922px) {
    .add-product-section {
        height:240vh;
    }
    .edit-product-section {
        height: 250vh;
    }
}
@media screen and (max-width:915px) and (orientation:landscape) and (min-width:835px) {
    .add-product-section {
        height:470vh;
    }
    .edit-product-section {
        height: 600vh;
    }
}
@media screen and (max-width:890px) and (orientation:portrait) {
    .edit-product-section {
        height:200vh;
    }
}
@media screen and (max-width:854px) and (orientation:landscape) {
    .add-product-section {
        height:510vh
    }
    .edit-product-section {
        height:580vh
    }
}
@media screen and (max-width:834px) and (orientation:portrait) {
    .add-product-section {
        height: 222vh;
    }
    .edit-product-section {
        height:240vh;
    }
}
@media screen and (max-width:768px) and (orientation:portrait) {
    .add-product-section {
        height:230vh
    }
}
@media screen and (max-width:740px) and (orientation:landscape) {
    .edit-product-section {
        height:620vh
    }
}
@media screen and (max-width:639px) and (orientation:landscape) {
    .add-product-section {
        height:530vh
    }
}
@media screen and (max-width:568px) and (orientation:landscape) {
    .add-product-section {
        height:500vh
    }
    .edit-product-section {
        height:680vh
    }
}
@media screen and (max-width:428px) and (orientation:portrait) {
    .add-product-section {
        height:160vh
    }
    .edit-product-section {
        height:200vh
    }
}
@media screen and (max-width:414px) and (orientation:portrait){
    .add-product-section {
        height:170vh
    }
    .edit-product-section {
        height:300vh
    }
}
@media screen and (max-width:412px) and (orientation:portrait) {
    .add-product-section {
        height:160vh
    }
    .edit-product-section {
        height:250vh
    }
}
@media screen and (max-width:384px) and (orientation:portrait) {
    .add-product-section {
        height:150vh
    }
    .edit-product-section {
        height:180vh
    }
}
@media screen and (max-width:375px) and (orientation:portrait) {
    .add-product-section {
        height:160vh
    }
    .edit-product-section {
        height:200vh
    }
}
@media screen and (max-width:360px) and (orientation:portrait) {
    .add-product-section {
        height:160vh
    }
    .edit-product-section {
        height:190vh
    }
}
@media screen and (max-width:320px) and (orientation:portrait) {
    .add-product-section {
        height:160vh
    }
    .edit-product-section {
        height:200vh
    }
}