aside {
    width: 17%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border-right:1px solid #19202e;
}
aside a {
    text-decoration: none;
    width: 99%;
    height: 38px;
    color: #f4f4f4;
    transition: background .2s ease-in-out;
    border-radius: 1px;
    display: flex;
    align-items: center;
    padding: 10px;
}
aside a:hover {
    background: #12171b;
    color: #f4f4f4;
}