.order-section {
    width: 100%;
    min-height: calc(100vh - 50px);
    background:#171c21;
    display:grid;
    place-items: center;
}
.order-section .style-order {
    width: 100%;
    min-height: 450px;
}
.order-section svg {
    font-size:1.3rem;
    color: #3498DB;
    cursor: pointer;
}
@media print {
    .order-section .style-order {
        width: 100%
    }
}
