.panel-section {
    width: 100%;
    min-height: calc(135vh);
    background: #171c21;
    display: flex;
    overflow:visible;
}
.panel-section h1 {
    margin-right: 10%;
    color: #1E90FF;
}