.panel-section {
    width: 100%;
    height: calc(100vh - 50px);
    background: #171c21;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel-section h1 {
    margin-right: 10%;
    color: #1E90FF;
}