.register-section {
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: #171c21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-section label {
    color: #ffff;
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 100%;
}
.register-section form {
    width: 80vh;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.register-section form input, .register-section form textarea, .register-section form select{
    border: none;
    outline:none;
    border-radius: 2px;
    margin-top: 4px;
    width: 100%;
    resize: none;
    font-size: medium;
    height:30px;
}
.register-section form textarea {
    height:60px;
    resize: vertical;
}
.register-section form button {    
    width: 100px;
    height: 40px; 
    color: #f1f1f1;
    background-color: #2980b9;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 20px;
    transition: background .2s ease-in;
}
.register-section form button:hover {
    background-color: #1E90FF;
}

@media screen and (max-width:1024px) {
    .register-section {
        align-items: flex-start;
    }
    .register-section form{
        width: 80%;
        height:80vh;
    }
}
@media screen and (orientation: landscape) and (max-width:812px) {
    .register-section {
        min-height:190vh;
    }
    .register-section form{
        height:180vh;
    }
}
@media screen and (orientation: portrait) and (max-width:375px) {
    .register-section form button {
        font-size:1rem;
    }
}