.category-section {
    width: 100%;   
    min-height: 40vh;
}
.category-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.category-header h1 {
    color: #f1f1f1;
    position: relative;
}
.category-header svg {
    color: #3498DB;
    font-size: larger;
    margin-left: 10px;
}
.grid-items {
    width: 100%;      
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    place-items: center;
    
}
.sizing-category {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px 0px 5px 2px #273450;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
}
.sizing-category img {
    width: 100%;
    height: 130px;
}