.flex-orders {
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.admin-btns , .style-order button {
    width: 100px;
    height: 35px;
    outline: none;
    border: none;
    background: #1E90FF;
    color: #f1f1f1;
    border-radius: 5px;
}
br {
    display:none;
}
.style-order {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #2f384b;
    border-radius: 1px;
    color: #f1f1f1;
    margin-top: 10px;

}
.style-order header {
    width: 90%;
    min-height: 240px;
    display: grid;
    grid-template-columns: 240px 240px 80px 80px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: medium;
}
.style-order header p {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border: 1px solid #2f384b;
    margin-top: .20rem;
    opacity: .9;
}
.style-order header span {
    font-weight: bold;
    color: #f1f1f1;
}
.order-items {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.style-item {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.style-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .style-order header {
        min-height:290px;
        grid-template-columns: 35% 35%;
    }
    .style-order header p,
    .style-order header span
    .style-item {
        font-size: .9rem;
    }
}
@media screen and (max-width: 768px) {
    .style-order header {
        grid-template-columns: 30% 30%;
        min-height:270px;
    }
    .style-order header p,
    .style-order header,
    .style-order header span,
    .style-item {
        font-size: .8rem;
    }

    .hide-item-without-purpose {
        display: none;
    }
}
@media screen and (max-width:670px) {
    .style-order header p,
    .style-order header,
    .style-order header span,
    .style-item {
        font-size: .7rem;
        grid-template-columns: 43% 43%;
    }
    br {
        display: block;
    }
    .style-item svg {
        display: none;
    }
    .style-item img {
        height: 33px;
        width: 33px;
    }
    .show-dashboard {
        width: 90%;
    }
    .admin-btns {
        font-size: .8rem;
    }
}

@media screen and (max-width:375px) {
    .admin-btns {
        font-size: .80rem;
    }
}
@media print {
    .header-section, 
    .print-link,
    .max-orders header,
    .order-items,
    button {
        display:none;
    }
    .flex-orders {
        width: 100%;
        color: #171c21;
    }

    .style-order a {
        text-decoration:none;
    }
    .style-order header {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        height: 80%;
        font-size: .8rem;
        color: #1a1a1a;
    }
    .style-order header span, 
    .style-order header p {
        color: #000;
        opacity: 1;
    }
}