.header-section
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #171c21;
    position: relative;
    justify-content: center;
}
.header-section ul {
    z-index: 5001;
}
.beef-burger {
    display: none;
}
.beef-burger header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: larger;
}
.links {
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a, .beef-burger-links a {
    text-decoration: none;
    font-size: medium;
    opacity: .8;
    transition: opacity .3s ease-in;
    color: #f1f1f1;
    position: relative;
}
.links a::after, .beef-burger-links a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 2px;
    transition:width .2s ease-in;
    background: #1E90FF;
}
.links a:hover, .beef-burger-links a:hover {
    opacity: 1;
}
.links a:hover::after ,.beef-burger-links:hover::after{
    width: 100%;
}
@media screen and (max-width:1472px) {
    .beef-burger {
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0px;
        display: flex;
        clip-path: circle(25px at 100% 2%);
        transition: clip-path .3s ease-in .1s;
        flex-direction: column;
        align-items: center;
        background-color: #171c21;
        z-index: 5000;
    }
    .beef-burger header{
        justify-self: flex-start;
    }
    .beef-burger svg {
        color: #1E90FF;
        transition: opacity .2s ease-in;
    }  
    .show-clip-path {
        clip-path: circle(100%);
    }
    .show-clip-path a {
        pointer-events: all;
    }
    .hide-clip-path {
        clip-path: circle(35px at 100% 2%);
    }
    .hide-clip-path a{
        pointer-events: none;
    }
    .show {
        opacity: 1;
        pointer-events: all;
    }
    .hide {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
    .links{
        display: none;
    }
    .beef-burger-links {
        width: 60%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 4px;
        z-index: 1000;
        transition: top .2s ease-in-out;
        right: 0%;
    }
    .menu-container {
        width: 30px;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition:opacity .2s ease-in-out;
    }
}