.about-section {
    width: 100%;
    min-height: calc(100vh - 50px);
    background: #171c21;
}
.max-about {
    width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.max-about h1 {
    color: #f4f4f4;
}
.max-about p {
    font-size:1.4rem;
    color: #1e90ff;
}