.home-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171c21;
    overflow-x: hidden;
}
.max-home
{
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width:1024px) and (orientation: portrait) {
    .home-container {
        min-height:120vh;
        margin-top: 10px;
    }
}