.products-section {
    width: 100%;
    min-height: calc(100vh - 50px);
    background: #171c21;
}
.max-products{
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.max-products header {
    width: 95%;
    height: 95px;
    display: grid;
    grid-template-columns: 400px 160px;
    align-items: center;
    margin-bottom: 20px;
}

.max-products header select {
    width: 150px;
    height: 30px;
    outline: none;
    background: #13181d;
    border: none;
    color: #f4f4f4;
}
.max-products header select option {
    background: #f4f4f4;
    color: #13181d;
}
.max-products header input[type="search"] {
    width: 60%;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-right: 20px;
}

.max-products header button {
    outline: none;
    border: none;
    border-radius: 50%;
    background: none;
    color: #f1f1f1;
    width: 32px;
    height: 32px;
    color: #1E90FF;
    font-size: large;
}
.max-products header h1 {
    color: #ffff;
    margin-right: 20px;
}
.style-products {
    width: 95%;
    min-height:80vh;
    border-radius: 5px;
    border: 1px solid #2f384b;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.style-products > div {
    justify-self: center;
    margin-top: 15px;
}