.product-section {
    width: 100%;
    height: calc(150vh - 50px);
    background-color: #171c21;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.max-product {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.stars {
    font-size: larger;
}
.left-arrow{
    color:#1E90FF; 
    font-size:large;
    margin-bottom: 5px;
    transition: transform .2s ease-in;
    cursor: pointer;
}
.left-arrow:hover {
    transform: translateX(-5px);
    
}
.main-img-container {
    width: 44%;
    height: 70%;
}
.main-img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}
.main-img img {
    width: 100%;
    height: 100%;
}
.show-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #f1f1f1;
    margin-left: 20px;
    word-break: break-all;
}

.btn-prime, .edit-btn {
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 3px;    
    background-color: #1E90FF;
    color: #f1f1f1;
    margin-right: 20px;
    transition: transform .2s ease-in;
}
.edit-btn {
    width: 100px;
    height: 35px;
    margin-left: 10px;
}
.btn-prime:hover {
    transform: translateY(1px);
}
.counter {
    width: 120px; 
    height:40px;
    display:flex; 
    justify-content:space-around; 
    align-items:center;
    box-shadow: 0px 0px 5px 2px #34495e;
}
.btn-sec {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
    background: none;
    border: none;
    color: #f1f1f1;
    transition: background .2s ease-in;
}
.btn-sec-active {
    background: #2970a0;
    opacity: .7;
}
.btn-sec-active-mins {
    background: #bd290f;
    opacity: .7;
}
.product-title {
    display: flex;
    align-items: center;
}
.show-info input {
    width: 50px;
    height: 34px;
}
.description {
    border: 1px solid #2f384b;
    border-radius: 2px;
    padding: 5px;
    width: 90%;
    height: fit-content;
    overflow-y: scroll
}
.slider-container {
    width: 100%;
    height: 15%;
    margin-top: 15px;
    display:grid;
    border: 1px solid #57606f;
    text-align: center;
}
.slider-container img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
}
.slider-container img:hover {
    opacity: .8;
}
.options-container {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
}
.points-options {
    width: 200%;
    height: 60px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.points-options p {
    margin: 0px;
}
.points-options button {
    outline: none;
    border: none;
    width: 65px;
    height: 30px;
    font-size: medium;
    border-radius: 3px;
    color: #f4f4f4;
}
.points-options input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.related-products {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px;
    border:1px solid #2f384b;
}
.related-product {
    width: 295px;
    height: 330px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow:0px 0px 5px 2px #273450;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-product a {
    width: 100%;
    height:100%;
    overflow: hidden;
    color: #202225;
    overflow: hidden;
}
.related-product img {
    width: 100%;
    height: 175px;
    transition:transform .2s ease-in;
}
.related-product img:hover {
    transform: scale(1.2 , 1.2);
}
.grid-info {
    width: 100%;
    height: 145px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas: 
    "a b"
    "c c"
    "d d";
    margin-top: 6%;
    word-break: break-all;
}
.price-element {
    opacity: .8;
    position: relative;
    font-size: small;
}
.price-element::after {
    content: '';
    position: absolute;    
    width: 90%;
    height: 2px;
    border-radius: 5px;
    top: 50%;                
    display: block;
    background-color: #333;
}
.percentage-element {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
}
.percentage-element::after {
    content: '';
    position: absolute;    
    width: 100%;
    height: 2px;
    border-radius: 5px;               
    display: block;
    background-color: #1E90FF;
}
.msg-container {
    width: 30%;
    height: 30%;
    border: 1px solid #57606f;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    position: absolute;
    background-color: #171c21;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.msg-container a {
    color: #C4C4C4;
    font-size: medium;
}
.msg-container a:hover {
    color: #9e9e9e;
}
.msg-container header {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.msg-container header svg {
    color: tomato;
    cursor: pointer;
}
.msg {
    font-size: large;
    color: #1E90FF;
    margin: 0px;
}
@media screen and (max-width:1572px) {
    .points-options p {
        font-size: 17px;
    }
}
@media screen and (max-width:1401px) {
    .points-options p{
        font-size: 16px;
    }
}
@media screen and (max-width:1503px) {
    .max-product, .related-products {
        width: 90%;
    }

    .btn-prime {
        width: 110px;
        height: 40px;
        font-size: .90rem;
        margin-top: 10px;
    }
    .counter {
        width: 100px;
        height: 40px;
        margin-top: 10px;
    }
    .btn-sec {
        width: 30px;
        height: 30px;
        font-size: 1.3rem;
        border-radius: 50%;
        text-align: center;
        border: none;
        color: #f1f1f1;
        transition: background .2s ease-in;
    }
    .price-tag {
        font-size: 1.1rem;
        margin-top: 10px;
    }
}
@media screen and (orientation: landscape) and (max-width:1366px){
    .product-section {
        height: 180vh;
    }
    .max-product {
        width: 90%;
    }
}
@media screen and (max-width:1317px) {
    .counter {
        width: 85px;
        height: 40px;
    }
    .points-options p {
        font-size: 17px;
    }
    .options-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:1309px) {
    .product-section {
        height: 165vh;
    }
    .max-product {
        flex-direction: column;
        height: 100%;
    }
    .description {
        width: 80%;
    }
    .max-product h1 {
        font-size: 2.1rem;

    }
    .main-img-container {
        width:100%;
        height: 80vh;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .btn-prime {
        margin-top: 20px;
    }
    .counter {
        margin-top: 20px;
    }
    .slider-container {
        height: 16%;
        max-width: 510px;
        margin-top: 10px;
    }
    .show-info {
        width: 100%;
        margin-left: 0px;

    }
    .main-img {
        max-width: 500px;
        max-height: 500px;
    }
    .points-options {
        width: 128%;
    }
    .related-products {
        width: 80%;
        height: 40vh;
    }
}
@media screen and (orientation: landscape) and (max-width:1305px) {
    .product-section {
        height: 200vh;
    }
}
@media screen and (max-width:1038px) {
    .product-section {
        height: 200vh;
    }
    .main-img-container {
        height: 65vh;
    }
}
@media screen and (orientation: portrait) and (max-width:1024px){
    .product-section {
        height: 170vh;
    }
    .max-product {
        height: 55%;
    }
    .main-img-container {
        height: 40vh;
    }
    .related-products {
        width: 90%;
        height: 20%;
    }
}
@media screen and (orientation: landscape) and (max-width:1024px){
    .product-section {
        height: 250vh;
    }
    .max-product {
        height: 60%;
    }

    .related-products {
        height: 30%;
    }
}
@media screen and (max-width:860px) {
    .product-section {
        height: 185vh;
    }
    .main-img-container {
        height: 80vh;
    }
    .max-product {
        height: 77%;
    }
}
@media screen and (orientation:landscape) and (max-width:812px){
    .product-section {
        height: 600vh;
    }
    .max-product {
        height: 67%;
        margin-bottom: 10px;
    }
    .related-products {
        height: 28%;
    }
    .main-img-container {
        height: 110vh;
    }
}
@media screen and (orientation:portrait) and (max-width:812px) {
    .product-section {
        height: 245vh;
    }
    .max-product {
        height: 70%;
    }
}
@media screen and (max-width:751px) {
    .points-options p {
        font-size: 16px;
    }
    .points-options button {
        width: 50px;
        font-size: .90rem;
    }
}
@media screen and (max-width:682px) {
    .points-options p {
        font-size: 15px;
    }
}
@media screen and (max-width:660px) {
    .points-options p {
        font-size: 14px;
    }
    .points-options div {
        font-size: 12px;
    }
    .product-title {
        flex-direction: column;
        align-items: unset;
    }
    .edit-btn {
        margin: 0px;
    }
    .points-options {
        flex-direction: column;
        align-items: unset;
        margin-top: 2px;
        justify-content: center;
    }
    .points-options button {
        height: 25px;
    }
}
@media screen and (orientation: landscape) and (max-width:667px) {
    .product-section {
        height: 610vh;
    }
    .max-product {
        height: 70%;
    }
}
@media screen and (max-width:633px) {
    .edit-btn {
        width: 75px;
        height: 38px;
        margin-bottom: 15px;
    }
}
@media screen and (orientation: landscape) and (max-width:480px) {
    .product-section {
        height: 440vh;
    }
    .main-img-container {
        height: 100vh;
    }
}
@media screen and (orientation: portrait) and (max-width:414px) {
    .max-product {
        height: 80%;
    }
    .stars svg{
        font-size: large;
    }
}
@media screen and (orientation:portrait) and (max-width:375px) {
    .max-product {
        height: 75%;
    }
    .main-img-container {
        height: 46vh;
    }
    .edit-btn {
        width: 65px;
        height: 35px;
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .description {
        width: 100%;
    }
}
@media screen and (orientation:portrait) and (max-width:320px) {
    .product-section {
        height: 250vh;
    }
    .product-title h1 {
        font-size: 1.5rem;
    }
    .description {
        font-size: small;
    }
    .btn-prime, .counter {
        width: 90px;
        height: 35px;
        font-size: .80rem;
    }
    .points-options p {
        font-size: .90rem;
        width: 140%;
    }
    .points-options span {
        font-size: smaller;
    }
    .price-tag {
        font-size: 1rem;
    }
}
