.register-section {
    width: 100%;
    height: 100vh;
    background-color: #171c21;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-section label {
    color: #ffff;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.register-section form {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.register-section form input, .register-section form textarea, .register-section form select{
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    width: 60%;
    resize: none;
    font-size: medium;
}
.register-section form button {    
    width: 100px;
    height: 40px; 
    color: #f1f1f1;
    background-color: #2980b9;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 20px;
    transition: background .2s ease-in;
}
.register-section form button:hover {
    background-color: #1E90FF;
}